@import "utils/var";
@import "utils/mixim";
@import "components/base";
@import "components/header";
@import "components/hero";
@import "components/form";
@import "components/contacts";
@import "components/footer";
@import "components/modal";
@import "components/soclink";
@import "components/mobile-menu";

@import "components/about";
@import "components/advantures";
@import "components/services";
@import "components/questions";
@import "components/faq";