// * transition
$time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
// * fonts
$font-sans-serif: 'Montserrat', sans-serif;
$font-serif: 'Arvo', serif;

// * colors
$icon-color: #ccaa60;
$about-color:#e3c37a;

$white-color: #fff;
$dark-color: #161d27;
$grey-color: #909090;
$accent-color: #edc114;

$section-bg: #161d27;

$header-line-border: #4e555f;
$hero-btn-font: #fff;
$font-second-color: #d7d7d7;

$about-desc-font: #d7d7d7;
$about-item-one-bg: #3b434e;
$about-years-font: #1f2732;

$services-active-item-bg: #293341;
$achievements-bg: #fbfbfb;

$first-bg: #f6f4f5;
$second-bg: #81939F;
$btn-color: #f7d13d;
$btn-color-hvr: #f7d23da2;
$grey-border-color: #D9D9D9;
$white-font-color: #fff;

$reviews-desc-bg: #2e3947;

$call-font-color: #1f2732;

$min-width-var: 320px;
