.about {
  position: relative;

  &__banner {
    position: absolute;
    left: 0.6rem;
    bottom: 0;
    height: 20rem; //320px
    width: 15rem; //240px
    background-image: url("../images/about_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 481px) {
      height: 27rem; 
      width: 20rem; 
      left: 3rem;
    }
    @media screen and (min-width: 768px) {
      height: 34.25rem; //548
      width: 24.25rem; //388
      left: 6rem;
    }
    @media screen and (min-width: 1200px) {
      left: 8rem;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__left {
    width: 30%;
    background-color: $about-color;
  }

  &__right {
    padding: 5px;
    width: 70%;
    background-color: $font-second-color;
    min-height: 591px;
  }
}