.about {
  background: linear-gradient(
      to top,
      rgba(85, 85, 92, 0.1),
      rgba(55, 56, 63, 0.1)
    ),
    url(../images/bg-about.png) left / 50% 100% no-repeat $bg-about-grey;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    background: linear-gradient(
      to top,
      rgba(85, 85, 92, 0.1),
      rgba(55, 56, 63, 0.1)
    ),
    url(../images/bg-about.png) left / 30% 100% no-repeat $bg-about-grey;
  box-sizing: border-box;
  }

  &__flex-box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
    }
  }

  &__left {
    padding: 0;
    @media screen and (min-width: 768px) {
      padding: 1rem 0 0 1rem;
    }
    @media screen and (min-width: 1200px) {
      padding: 3rem 0 0 3rem;
    }
  }

  &__right {
    padding: 1rem;
    text-align: center;

    @media screen and (min-width: 768px) {
      padding: 2rem;
    }
    @media screen and (min-width: 1200px) {
      padding: 3rem;
    }
  }
  &__right--title {
    font-size: 1.5rem;
    font-weight: 500;
    color: $call-font-color;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
  }
}
