.advantures {
  text-align: center;
  margin: 0;
  padding: 2rem 0;
  background-color: $white-color;
  background-repeat: no-repeat;
  background-position: bottom 0px right;
  background-image: url("../images/bg-advantures.png");  

  @media screen and (min-width: 768px) {
    padding: 3rem 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 4rem 0;
  }

  &__description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.62;
    color: $call-font-color;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: $call-font-color;
    margin: 0 auto 1.5rem;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 3rem;
    }
  }

  &__list {
    padding: 0;
    margin: 0; 
    list-style: none;
    box-sizing: border-box;    

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 1rem;
    margin-bottom: 30px;
    text-align: start;
    border: 1px solid $border-advantures;
    border-radius: 1rem;
    background-color: $white-color;
    box-sizing: border-box;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
    }
  }

  &__background {
    height: 4rem;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $white-color;
  }

  &__item-title {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.18;
    text-transform: uppercase;
    color: $call-font-color;
  }

  &__item-description {
    font-size: 1.14rem;
    font-weight: 300;
    line-height: 1.12;
    color: $call-font-color;
  }
}
