.faq {
  text-align: center;
  background-color: $first-bg;
  padding: 2rem 0;

  @media screen and (min-width: 768px) {
    padding: 3rem 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 4rem 0;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: $call-font-color;
    margin: 0 auto 1.5rem;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 3rem;
    }
  }

  &__accordion {
    padding: 0;
    margin: 0;        
  }

  &__accordion li {
    text-align: justify;
    list-style: none;    
    background-color: $white-color;
    margin: 0.3rem;
    border-radius: 1rem;    
    
    @media screen and (min-width: 768px) {
      margin: 0.4rem;
    }
    @media screen and (min-width: 1200px) {
      margin: 0.5rem;
    }
  }

  &__accordion li label {
    display: flex;
    align-items: center;
    padding: 0.6rem 1.5rem 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 600;    
    border-radius: 0.5rem;
    background-color: $white-color;
    cursor: pointer;

    @media screen and (min-width: 768px) {      
      font-weight: 700;
      border-radius: 0.7rem;
    }
    @media screen and (min-width: 1200px) {      
      border-radius: 1rem;
    }
  }

  label::before {
    content: "+";
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: 600;
  }

  input[type="radio"] {
    display: none;
  }

  &__accordion .content {
    color: #555;
    padding: 0 0.6rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  input[type="radio"]:checked + label + .content {
    max-height: 15rem;
    padding: 0.6rem 1.5rem 0.6rem 2.8rem;

    @media screen and (min-width: 768px) {
      
    }
    @media screen and (min-width: 1200px) {
      
    }
  }

  input[type="radio"]:checked + label::before {
    content: "-";
  }
}
