.header__line {
  &:nth-child(1) {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &:nth-child(2) {
    display: none;
  }
}


.mobile-nav {
  @include mq(mobile-only) {
    position: absolute;
    left: 0;
    top: 90px;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-top: 30px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;

    &--active {
      visibility: visible;
      opacity: 1;
      pointer-events: initial;

      & .header__nav {
        display: block;
        margin-bottom: 50px;
      }
      
      & .header-contacts {
        display: block;
        margin-bottom: 50px;
      }
      & .header-soclink {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}


.mobile-nav {
  @include mq(small-mobile) {
    height: calc(100vh - 82px);
  }

  @include mq(mobile) {
    height: calc(100vh - 82px);
    /*left: 0;*/
    width: 100%;
  }

  @include mq(tablet) {
    position: absolute;
    right: 0;
    width: 50%;
    padding-top: 30px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;

    &--active {
      @include mq(small-mobile) {
        top: 63px;
      }

      @include mq(mobile) {
        top: 63px;
      }
      
      & .header__nav {
        display: block;
        margin-bottom: 50px;
      }
      
      & .header-contacts {
        display: block;
        margin-bottom: 50px;
      }
      
      & .header-soclink {
        display: flex;
        justify-content: center;
      }
      
      & .soclink{
        display: flex;
        justify-content: center;
      }
      
      visibility: visible;
      opacity: 1;
      pointer-events: initial;
    }
  }

  @include mq(desktop) {
    display: none;
  }
  
  
}


.mobile-nav .soclink{
    display: flex;
    justify-content: center;    
}

.header__logo {
  display: block;
}

.header__btn {
  display: none;
}

.nav__list {
  @include mq(mobile-only) {
    text-align: center;
    margin-bottom: 50px;
  }
  
  @include mq(tablet-only) {
    text-align: center;   
  }
}

/*
.nav__link {
  font-size: 32px;
  line-height: 1.6;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: inline-block;

  &:hover,
  &:focus {
    color: #6689ff;
  }
}
*/

.h-contacts__icon {
  @include side-sizes(20px, 20px);
  @include flex-center;
  margin-right: 12px;
  color: #000;
}

.h-contacts__phone {
  @include side-sizes(17px, 17px);
}

.h-contacts__mail {
  @include side-sizes(18px, 16px);
}

.h-contacts__item {
  display: flex;
  align-items: center;
}

.h-contacts__subtitle {
  margin-bottom: 1px;
  font-size: 20px;
  line-height: 1.6;
  color: #6689ff;

  @include mq(mobile) {
    font-size: 18px;
  }
}

.h-contacts__text {
  font-size: 16px;
  line-height: 1.2;
  color: #fff;

  @include mq(mobile) {
    font-size: 20px;
  }
}

.mobile-nav .container {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.mob-soc {
  margin-top: auto;
  margin-bottom: 30px;
}
