.notarial-services {
  text-align: center;
  padding: 4rem 0;

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: $call-font-color;
    margin: 0 auto;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 3rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(20rem, auto) minmax(10rem, auto) minmax(
        10rem,
        auto
      );
    grid-gap: 1rem;

    :nth-child(1) {
      grid-column-start: 1;
      grid-column-end: -1;
    }

    @media screen and (min-width: 768px) {
      grid-gap: 1.5rem;
    }
    @media screen and (min-width: 1200px) {
      grid-gap: 2rem;
      grid-template-columns: 2fr 1fr 1fr;
      grid-template-rows: minmax(10rem, auto) minmax(10rem, auto);

      :nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 1;

        grid-row-start: 1;
        grid-row-end: -1;
      }
    }
  }

  &__item {
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid $grey-border-color;
    border-radius: 1rem;

    transform: scale(1);
    transition: transform 250ms;

    @media screen and (min-width: 768px) {
      padding: 1.5rem;
    }
    @media screen and (min-width: 1200px) {
      padding: 2rem;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__item--data {
    font-size: 0.8rem;
  }
  &__item--data-first {
    margin-top: 1rem;

    @media screen and (min-width: 768px) {
      margin-top: 2rem;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 3rem;
    }
  }

  &__item--title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem 0;
    color: $call-font-color;
  }
  &__item--title-first {
    font-size: 1.2rem;
    font-weight: 600;
    color: $call-font-color;
    margin-top: 1rem;

    @media screen and (min-width: 768px) {
      margin-top: 3rem;
    }
  }

  &__item--description {
    font-size: 0.8rem;
  }
  &__item--description-first {
    margin-top: 1rem;

    @media screen and (min-width: 768px) {
      margin-top: 2rem;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 3rem;
    }
  }
}
