.prices {
  background-color: $white-color;
  text-align: center;
  padding: 2rem 0;

  @media screen and (min-width: 768px) {
    padding: 3rem 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 4rem 0;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $call-font-color;
    margin: 0 auto 1.5rem;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 2rem;     
      margin-bottom: 2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 3rem;
    }
  }

  &__description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.62;
    max-width: 100%;
    margin: 0 auto 1rem;
    color: $dark-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 2rem;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 3rem;
    }
  }

  &__table {
    width: 100%;
  }

  &__table,
  tr,
  td {
    padding: 0.5rem;
    margin: 0 auto;
    border: 1px solid #d7d7d7;
    border-collapse: collapse;
    font-size: 1rem;
    font-weight: 700;

    @media screen and (min-width: 768px) {
      padding: 0.7rem;
      margin-top: 1.5rem;
    }
    @media screen and (min-width: 1200px) {
      padding: 1rem;
      margin-top: 2rem;
    }
  }
}
