.services {
  text-align: center;
  background-color: $white-color;
  padding: 2rem 0;

  @media screen and (min-width: 768px) {
    padding: 3rem 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 4rem 0;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: $call-font-color;
    margin: 0 auto 1.5rem;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 3rem;
    }
  }

  &__list {
    padding: 0;
    justify-content: center;
    list-style: none;
    box-sizing: border-box;

    @media screen and (max-width: 767px) {
      :not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin: -15px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 6 * 15px) / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
    }

    &:hover .services__item--detail,
    &:focus .services__item--detail {
      display: block;
      transform: opacity(1);
    }

    &:hover .services__images,
    &:focus .services__images {
      transform: scale(1.05);
      box-shadow: 10px 10px 8px 2px rgba(92, 116, 128, 0.3);
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item--title {
    position: absolute;
    top: 4.5rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: $white-color;

    @media screen and (min-width: 768px) {
      top: 3.7rem;
      font-size: 1rem;
    }
    @media screen and (min-width: 1200px) {
      top: 5rem;
      font-size: 1.5rem;
    }
  }

  &__item--detail {
    display: none;
    position: absolute;
    font-size: 1rem;
    top: -4rem;
    right: 1rem;
    color: $white-color;

    transform: opacity(0.5);
    transition: transform 250ms;

    @media screen and (min-width: 768px) {
      top: -3rem;
    }
    @media screen and (min-width: 1200px) {
      top: -4.7rem;
    }
  }

  &__images {
    border-radius: 0.5rem;
    transform: scale(1);
    transition: transform 250ms;
  }
}
