.services {
  text-align: center;
  background-color: $second-bg;
  padding: 2rem 0;

  @media screen and (min-width: 768px) {
    padding: 3rem 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 4rem 0;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: $call-font-color;
    margin: 0 auto 1.5rem;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 3rem;
    }
  }

  &__list {
    padding: 0;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    @media screen and (min-width: 768px) {
      gap: 1rem;
    }
    @media screen and (min-width: 1200px) {
      gap: 2rem;
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
  }

  &__item:hover {
    
  }


  &__item--title {
    position: absolute;
    top: 5rem;
    left: 1rem;    
    font-size: 1rem;
    font-weight: 500;
    color: $white-color;
    width: 90%;

    @media screen and (min-width: 768px) {
      font-size: 1.3rem;
      font-weight: 600;
    }
    @media screen and (min-width: 1200px) {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  &__item--detail {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    color: $white-color;
    // display: none;
  }

  &__thumb {
    width: 20rem;
    height: 15rem;
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/example.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;

    @media screen and (min-width: 768px) {
      border-radius: 0.7rem;
    }
    @media screen and (min-width: 1200px) {
      border-radius: 1rem;
    }
  }
}
