.useful {
  margin: 0;
  padding: 2rem 0;

  @media screen and (min-width: 768px) {
    padding: 3rem 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 4rem 0;
  }

  &__flex-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    button {
      position: absolute;
      right: 0;
    }
  }

  &__description {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.62;
    color: $call-font-color;
  }

  &__title {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 400;
    color: $call-font-color;
    margin: 0 0 1.5rem;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      font-weight: 600;
      margin: 0 0 2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
      font-weight: 700;
      margin: 0 0 3rem;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(30rem, auto));
    grid-gap: 1rem;

    @media screen and (min-width: 768px) {
      grid-gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: minmax(10rem, auto) minmax(10rem, auto);
    }
    @media screen and (min-width: 1200px) {
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: minmax(10rem, auto);
    }
  }

  &__item {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1rem 0;

    @media screen and (min-width: 768px) {
      padding: 0 0 1.5rem 0;
    }
    @media screen and (min-width: 1200px) {
      padding: 0 0 2rem 0;
    }
  }
  &__item--first {
    position: relative;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 1rem 0;   
  }

  &__background {
    min-height: 60%;
    object-fit: fill;
    border-radius: 1rem;
  } 
  &__background--first {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    z-index: 10;
  }

  &__item--wrap {
    padding: 1rem;
  }
  &__item--wrap--first {
    padding: 1rem;
  }

  &__item-description {
    font-size: 0.8rem;
    margin: 0;
  }
  &__item-description--first {
    position: absolute;
    bottom: 10rem;
    font-size: 0.8rem;
    margin: 0;
    color: $white-font-color;
    z-index: 20;
  }

  &__item-title {
    font-size: 1.2rem;
  }
  &__item-title--first {
    position: absolute;
    bottom: 6rem;
    margin: 0;
    font-size: 1.2rem;
    color: $white-font-color;
    z-index: 20;
  }

  button {
    margin: 0 auto;
  }
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3c37a;
    border-radius: 0.5rem;
    width: 6.9rem;   
    padding: 0.75rem 1.5rem;
    color: black;
    text-transform: uppercase;

    &:hover,
    :focus {
      background-color: #e3c37a;
    }
  }
  &__link--first {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6.9rem;
    padding: 0.75rem 1.5rem;
    margin: 0 auto;
    border: 1px solid #e3c37a;
    border-radius: 0.5rem;
    color: #e3c37a;
    text-transform: uppercase;
    z-index: 20;

    &:hover,
    :focus {
      background-color: #e3c37a;
      color: black;
    }
  }
  &__link--second {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3c37a;
    border-radius: 0.5rem;
    width: 11.2rem;   
    padding: 0.75rem 1.5rem;
    color: black;
    text-transform: uppercase;

    &:hover,
    :focus {
      background-color: #e3c37a;
    }
  }
  
}
