.useful {
  text-align: center;
  margin: 0;
  padding: 2rem 0;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    padding: 3rem 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 4rem 0;
  }

  &__flex-box {
    display: flex;
    flex-direction: column;    
  }

  &__flex-box--wrap {
    display: flex;
    justify-content: space-between;

    button {
      margin: 0;
    }
  }

  &__description {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.62;
    color: $call-font-color;
  }

  &__title {
    text-align: start;
    font-size: 1.5rem;
    font-weight: 400;
    color: $call-font-color;
    margin: 0 0 1.5rem;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
      font-weight: 600;
      margin: 0 0 2rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 2.5rem;
      font-weight: 700;
      margin: 0 0 3rem;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    background-color: $white-color;
    list-style: none;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      margin: -15px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: start;
    background-color: $white-color;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
    }

    button {
      margin: 0 auto 0.5rem auto;

      @media screen and (min-width: 768px) {
        margin: 0 auto 1rem auto;
      }
      @media screen and (min-width: 1200px) {
        margin: 0 auto 2rem auto;
      }
    }
  }

  &__item--first {
    margin-bottom: 30px;
    text-align: start;
    background-color: $white-color;

    @media screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 4 * 15px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
    }

    button {
      position: relative;
      bottom: 16rem;
      margin: 0 0 0 1rem;

      @media screen and (min-width: 768px) {
        bottom: 12rem;
      }
      @media screen and (min-width: 1200px) {
        bottom: 9rem;
        margin: 0 0 0 0.5rem;
      }
    }
  }

  &__background {
    width: 100%;
    display: inline-flex;
    object-fit: fill;
  }

  &__item-wrap {
    padding: 0.5rem;
  }

  &__item-title {
    margin: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $call-font-color;
  }

  &__item-title--first {
    position: relative;
    bottom: 18rem;
    color: $white-font-color;
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      bottom: 14rem;
    }
    @media screen and (min-width: 1200px) {
      bottom: 10rem;
      margin: 0 0.5rem;
    }
  }

  &__item-description {
    margin: 0.5rem 0.5rem 0;
    font-size: 1.14rem;
    font-weight: 300;
    line-height: 1.12;
    color: $call-font-color;
  }

  &__item-description--first {
    position: relative;
    bottom: 18rem;
    color: $white-color;
    margin: 0 1rem;
    font-size: 1.14rem;
    font-weight: 300;
    line-height: 1.12;
    color: $white-font-color;

    @media screen and (min-width: 768px) {
      bottom: 14rem;
    }
    @media screen and (min-width: 1200px) {
      bottom: 10rem;
      margin: 0 0.5rem;
    }
  }
}
